@charset "UTF-8";

/* Header Logo */
header h1 img {
    margin: 4px 0 0 0;
    width: auto;
    height: 85%;
}
.title {
    width: 100%;
    height: auto;
}
.apple-badges {
    width: auto;
    height: auto;
    padding-top: 10px;
}
td span {
    font-size: 10pt;
}
td br {
    display: block;
}
.inner iframe {
    padding-top: 10px;
}

@media screen and (max-width: 786px) {

.inner iframe {
    width: auto;
    height: auto;
    }
}
.merch {
    width:auto;
    height:5%;
    margin-right:20px;
}